
/**************CSS FOR ARABIC *************/
.form-control{border-radius:0px;}
body.arabic{direction:rtl;}
body.arabic .main-sidebar-right{right:auto;}
body.arabic .row.main-content.inside-content{padding-left:10px;}
.navbar-brand.logo.a-logo{right:0px; left:auto; float:right !important; padding-right:0px;}
.a-nav_trigger{left:0px; float:left;}
.a-left-side{float:right;}
.right-side.a-right-side{float:left; border-right:1px solid #e8e8e9;}
span.unique{left:auto !important; right:0px;}
ul.posts.a-posts{ padding:0px;}
ul.posts.a-posts li{border:1px solid #e8e8e9; border-left:none; border-top:none; float:right;}
.a-footer-right{float:right;}
.a-footer-right ul.social-site li{float:right;}
ul.nav.navbar-nav.a-navbar-nav li a{text-align:right; direction:rtl;}
ul.nav.navbar-nav.a-navbar-nav li a span{float:left !important;}

.a-links{padding-right:42px; padding-left:15px;}

.a-links, .a-find, .a-social-connect, .a-newletter {float:right; text-align:right;}
.a-social-connect ul.social-site li{float:right; margin-left:15px; margin-right:0px;}

.a-search-section{float:right; text-align:right;}
.a-search-section .input-group input.form-control{border-radius:0px; border-left:none;}
.a-search-section span.input-group-btn button.btn.btn-default{border-radius:0px; border-right:none; border-left:1px solid #ccc;}

ul.store-list.a-store-list li{float:right;}
ul.store-list.a-store-list li p{text-align:right;}
.store-list.a-store-list > li{margin-right:0px; margin-left:1.5%;}
ul.store-list.a-store-list > li:nth-child(3n){margin-left:0px;}


.a-retail-slider{float:right;}
.a-store-name{float:left;}
.a-arrow-down {border-left: 36px solid transparent;  border-top: 35px solid #1b1d2a; right: -52px;    transform: rotate(-90deg);}

.a-right-side .connect{padding:60px 0px;}
ul.a-posts li .post-text p{height:71.5px;}
.a-right-side .connect{padding:57px 0px;}
.a-right-side .free-dinner-ads{margin-bottom:3.3px;}
.a-nav_trigger {text-align:left;}
.input-group .form-control:focus{box-shadow:none; border-color:#ccc;}

.latest-news-post ul.posts.fashion-post.a-posts li{border:none;}
.a-retail-slider .carousel-indicators{padding-left:50px; text-align:left;}

.close-sb.close-btn-nav.a-close-btn-nav{left:auto; right:0px;}
.sidebar-nav.a-sidebar-nav{right:auto; left:0px;}
ul.a-navbar-nav ul.nav.nav-list li a{padding-right:40px; padding-left:0px;}



@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* Safari and Chrome */
ul.a-posts li .post-text p{height:70.5px;}
.a-right-side .connect{padding:57.5px 0px;}
.a-right-side .free-dinner-ads{margin-bottom:2px;}
}



/************mobile, Tablet, Abaric Css****************/
@media (max-width: 1024px) {
.a-links{padding-right:0px; }
}

@media (max-width: 980px) {

}


@media (max-width: 768px) {
.links {
    padding-right: 15px;
}

.col-lg-4.col-sm-4.newletter.a-newletter{padding-left:15px;}
}


@media (max-width: 640px) {
.a-links, .a-find, .a-social-connect, .a-newletter{float:none; text-align:center;  display:inline-block; padding-left:0px;}
.a-social-connect ul.social-site li{float:none;}
ul.posts.a-posts li{width:50%;}

.store-list.a-store-list li{width:48%; margin:1%; padding:0px; height:200px;}
.store-list.a-store-list li:nth-child(3n){ margin:1%;}
span.page-heading.a-page-heading {left: 5%;}
.a-social-connect ul.social-site li {margin-left: 5px !important; margin-right: 9px !important;}

}


@media (max-width: 480px) {
.store-list.a-store-list li{height:153px;}
.a-search-section{width:100%;}

}

@media (max-width: 420px) {
ul.posts.a-posts li{width:100%;}
.sidebar-nav.a-sidebar-nav{width:270px;}
}
@media (max-width: 360px) {
ul.posts.a-posts li{width:100%;}
.store-list.a-store-list li{width:100%; height:200px;}
}

@media (max-width: 320px) {
.sidebar-nav.a-sidebar-nav{width:210px;}

}
