
/**************CSS FOR ARABIC *************/
.form-control{border-radius:0px;}
body.arabic{direction:rtl; font-family: 'Avenir Next LT Pro Condensed';}
body.arabic .main-sidebar-right{right:auto;}
body.arabic .row.main-content.inside-content{padding-left:0px; padding-top:0px;}
.navbar-brand.logo.a-logo{right:0px; left:auto; float:right !important; padding-right:0px;}
.navbar-brand.logo.a-logo img{float:right;}
.a-nav_trigger{left:0px; float:left;}
.a-left-side{float:right;}
.right-side.a-right-side{float:left; border-right:1px solid #e8e8e9;}
span.unique{left:auto !important; right:0px;}
ul.posts.a-posts{ padding:0px;}
ul.posts.a-posts li h3{height:52px;}
ul.posts.a-posts li{border:1px solid #e8e8e9; border-left:none; border-top:none; float:right;}
.a-footer-right{float:right;}
.a-footer-right ul.social-site li{float:right;}
ul.nav.navbar-nav.a-navbar-nav li a{text-align:right; direction:rtl;}
ul.nav.navbar-nav.a-navbar-nav li a span{float:left !important;}

.a-links{padding-right:42px; padding-left:15px;}

.a-links, .a-find, .a-social-connect, .a-newletter {float:right; text-align:right;}
.col-lg-4.col-sm-4.newletter.a-newletter{padding-left:42px; padding-right:15px;}
.a-social-connect ul.social-site li{float:right; margin-left:15px; margin-right:0px;}

.a-search-section{float:right; text-align:right;}
.a-search-section .input-group input.form-control{border-radius:0px; border-left:none;}
.a-search-section span.input-group-btn button.btn.btn-default{border-radius:0px; border-right:none; border-left:1px solid #ccc;}

ul.store-list.a-store-list li{float:right;}
ul.store-list.a-store-list li p{text-align:right; font-size:15px;}
.store-list.a-store-list > li{margin-right:0px; margin-left:1.5%;}
ul.store-list.a-store-list > li:nth-child(3n){margin-left:0px;}


.a-retail-slider{float:right;}
.a-store-name{float:left;}
.a-arrow-down {border-left: 36px solid transparent;  border-top: 35px solid #1b1d2a; right: -52px;    transform: rotate(-90deg);}

.a-right-side .connect{padding:60px 0px;}
.a-right-side .connect{padding:22.5px 0;}
.a-nav_trigger {text-align:left;}
.input-group .form-control:focus{box-shadow:none; border-color:#ccc;}

.latest-news-post ul.posts.fashion-post.a-posts li{border:none;}
.a-retail-slider .carousel-indicators{padding-left:50px; text-align:left;}

.close-sb.close-btn-nav.a-close-btn-nav{left:auto; right:0px;}
.sidebar-nav.a-sidebar-nav{right:auto; left:0px;}
ul.a-navbar-nav ul.nav.nav-list li a{padding-right:40px; padding-left:0px;}

body.arabic ul.f-nav li{background-position:left;}

.a-right-side .free-dinner-ads{ margin-top:3px; margin-bottom:3px;}


body.arabic  .col-lg-6.pull-left.img-team{padding:10px 0px 10px 10px; }
body.arabic .col-lg-6.right-text-side.pull-left{padding:10px 0px 10px 10px; }
body.arabic .col-lg-6.pull-right.img-team{padding:10px 10px 10px 10px ;}
.col-lg-6.right-text-side.pull-right.a-lady{padding-left:10px;}

.a-links ul.site-map li.widget-container.widget_polylang ul li{float:right; margin:0px; margin-right:0px;}
.col-lg-3.col-sm-3.links.a-links ul.site-map li#polylang-3 > ul li.lang-item.lang-item-43.lang-item-en{padding-right:0px !important; margin-right:0px !important;}



@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* Safari and Chrome */
ul.a-posts li .post-text p{height:45.5px;}
.a-right-side .connect{padding:21.5px 0px;}
.a-right-side .free-dinner-ads{margin-bottom:0px;}



    /* Safari 5+ ONLY */
	::i-block-chrome, .a-right-side .connect{padding:22.5px 0px;}
    ::i-block-chrome, ul.a-posts li .post-text p{height:68.5px;}
	::i-block-chrome, ul.a-posts li .post-text h3{height:53px;}
    ::i-block-chrome, .a-right-side .free-dinner-ads{margin-bottom:2.7px;}
	::i-block-chrome, .arrow-down{border-top: 30px solid transparent; border-left: 30px solid #1b1d2a; border-right: none; border-bottom: 30px solid transparent; position:absolute;right:-30px; 

}

}



/************mobile, Tablet, Abaric Css****************/
@media (max-width: 1024px) {
.a-links{padding-right:0px; }
/*.right-side.a-right-side{width:33.3333%;}*/
.right-side.a-right-side li#widget_sp_image-2{width:100%; float:left; text-align:center;}
.right-side.a-right-side li#widget_sp_image-3{width:100%; float:right; text-align:center;}
.a-right-side .connect{padding:18px 0px;}
.right-side.a-right-side li#widget_sp_image-2 img{max-width:100%; width:auto; }
.right-side.a-right-side li#widget_sp_image-3 img{max-width:100%; width:auto; }

/* Safari 5+ ONLY */
::i-block-chrome, ul.a-posts li .post-text h3{height:51.8px;}
::i-block-chrome, .a-right-side .free-dinner-ads{margin-bottom:1px;}
::i-block-chrome, .a-right-side .connect{padding:39.9px 0px;}

}

@media (max-width: 980px) {
.a-right-side .connect{padding:17.5px 0px;}
}


@media (max-width: 768px) {


.col-lg-4.col-sm-4.newletter.a-newletter{padding-left:15px;}
}


@media (max-width: 640px) {
.right-side.a-right-side{width:100%;}
.a-links, .a-find, .a-social-connect, .a-newletter{float:none; text-align:center;  display:inline-block; padding-left:0px;}
.a-social-connect ul.social-site li{float:none;}
ul.posts.a-posts li{width:50%;}

.store-list.a-store-list li{width:48%; margin:1%; padding:0px; height:200px;}
.store-list.a-store-list li:nth-child(3n){ margin:1%;}
span.page-heading.a-page-heading {left: 5%;}
.a-social-connect ul.social-site li {margin-left: 5px !important; margin-right: 9px !important;}
ul.posts.a-posts li .post-text p{height:auto;}
.store-list.a-store-list li{max-height:180px;}
.row.content-text.search-section.a-search-section{width:100%;}
}

@media (max-width: 560px) {
ul.store-list.a-store-list li{height:150px;}
}



@media (max-width: 480px) {
.a-search-section{width:100%;}
ul.store-list.a-store-list li{height:170px; width:100%}
}

@media (max-width: 420px) {
ul.posts.a-posts li{width:100%;}
.sidebar-nav.a-sidebar-nav{width:270px;}


}
@media (max-width: 360px) {
ul.posts.a-posts li{width:100%;}
.store-list.a-store-list li{width:100%; height:200px;}
}

@media (max-width: 320px) {
.sidebar-nav.a-sidebar-nav{width:210px;}

}
