
/**************CSS FOR ARABIC *************/
body.arabic{direction:rtl;}
.navbar-brand.logo.a-logo{right:0px; left:auto; float:right !important;}
.a-nav_trigger{left:0px; float:left;}
.a-left-side{float:right;}
.a-right-side{float:left;}
span.unique{left:auto !important; right:0px;}
ul.posts.a-posts{ padding:0px;}
ul.posts.a-posts li{border:1px solid #e8e8e9; border-right:none; border-top:none; float:right;}
.a-footer-right{float:right;}
.a-footer-right ul.social-site li{float:right;}
ul.nav.navbar-nav.a-navbar-nav li a{text-align:right; direction:rtl;}
ul.nav.navbar-nav.a-navbar-nav li a span{float:left !important;}



.a-links, .a-find, .a-social-connect, .a-newletter {float:right; text-align:right;}
.a-social-connect ul.social-site li{float:right; margin-left:15px; margin-right:0px;}

.a-search-section{float:right; text-align:right;}
.a-search-section .input-group input.form-control{border-radius:0px 5px 5px 0px;}
.a-search-section span.input-group-btn button.btn.btn-default{border-radius:5px 0px 0px 5px; border-right:none;}

ul.store-list.a-store-list li{float:right;}
ul.store-list.a-store-list li p{text-align:right;}

.a-retail-slider{float:right;}
.a-store-name{float:left;}
.a-arrow-down {border-left: 35px solid transparent;  border-top: 35px solid #1b1d2a; right: -52px;    transform: rotate(-90deg);}




/************mobile, Tablet, Abaric Css****************/
@media (max-width: 1024px) {
.melting-ads img{width:100%;}
.mall-hours img{width:100%;}
.nav_trigger{font-size:30px;}
}

@media (max-width: 980px) {

.insta ul li{width:29.8%;}
.insta ul li img{width:100%;}
.mall-hours-left{width:70%; padding:10px;}
.mall-hours-right{width:30px;}
.navbar-collapse.collapse.sidebar-navbar-collapse.nav-space{padding:0px; margin:0px;}
ul.store-list li{height:169px;}
ul.store-list li .store-details{padding:10px; top:74%;}
ul.store-list li .store-details p{line-height:normal; overflow-y:hidden;}
ul.store-list li .store-details h2{font-size:22px;}
ul.store-list li .store-details h2{font-size:22px;}
.out-team img{width:100% !important;}


.main-reatil-slider .carousel-inner > .item > a > img, .main-reatil-slider .carousel-inner > .item > img{min-height:340px;}
.inner-store-name h2{padding-top:50%;}
.inner-store-name{height:340px;}
.arrow-down{top:130px;}
}


@media (max-width: 767px) {
.nav_trigger{top:15px;}
.melting-ads{width:39%; float:left;}
.mall-hours{width:58%; float:right; margin-top:0px;}
.side-ads-section{text-align:center;}
.free-dinner-ads {float: left;  margin: 0 20%;  width: 60%;}
.free-dinner-ads{text-align:center;}
.insta ul li{width:15.1%;}
.insta ul li img{width:100%;}
.col-lg-4.right-side.news-right .insta ul li{width:15.1%;}

.footer{text-align:center; padding-top:20px;}
.links, .find, .social-connect, .newletter{float:none; text-align:center;  display:inline-block; width:100%; margin-bottom:20px;}
ul.social-site li{float:none;}
}


@media (max-width: 640px) {
.nav_trigger{top:15px;}


.mall-hours-left{width:50%;}
.mall-hours-right{width:30%;}
ul.social-site{text-align:center;}
ul.social-site li{float:none; display:inline-block;}
.find, .social-connect, .newletter{margin-top:40px; float:left; width:100%;}
.f-logo{float:left; width:100%;  margin:0px; margin-top:40px;}
.carousel-indicators{margin:20px 0 0;}

.footer{text-align:center; padding-top:20px;}
.a-links, .a-find, .a-social-connect, .a-newletter{float:none; text-align:center;  display:inline-block;}
.a-social-connect ul.social-site li{float:none;}
ul.posts.a-posts li{width:50%;}

ul.posts.fashion-post li{width:50%;}
ul.store-list li{width:48%; margin:1%; padding:0px; height:200px;}
ul.store-list li:nth-child(3n){ margin:1%;}

.store-list.a-store-list li{width:48%; margin:1%; padding:0px; height:200px;}
.store-list.a-store-list li:nth-child(3n){ margin:1%;}
ul.store-list li .store-details{top:80%;}

.main-reatil-slider .carousel-inner > .item > a > img, .main-reatil-slider .carousel-inner > .item > img{min-height:237px;}
.inner-store-name h2{padding-top:40%;}
.inner-store-name{height:237px;}
.arrow-down{top:70px;}

.latest-news-post ul.posts li{width:50%;}


}


@media (max-width: 480px) {
.nav_trigger{top:0px;}
span.page-heading{display:none;}
.navbar-brand.logo{width:70px; margin:0px; padding:0px;} 
.navbar-brand.logo img{width:100%;}
.container.content{margin-top:55px;}
.carousel-caption h3{font-size:22px;}
.carousel-caption{padding:10px;}
.carousel-caption{margin-bottom:0px;}
.nav_trigger{margin-left:0px;}
.insta ul li{width:25%;}
ul.posts li .post-text h3{font-size:24px;}

ul.store-list li{height:153px;}

.store-list.a-store-list li{height:153px;}
ul.store-list li .store-details{top:74%;}
.a-search-section{width:100%;}

.main-reatil-slider .carousel-inner > .item > a > img, .main-reatil-slider .carousel-inner > .item > img{min-height:190px;}
.inner-store-name h2{padding-top:40%;}
.inner-store-name{height:190px;}
.arrow-down{top:70px;}


}


@media (max-width: 360px) {
ul.posts li{width:100%;}
.free-dinner-ads img{width:100%;}
.melting-ads{width:100%;}
.mall-hours{width:100%; margin-top:10px;}
.free-dinner-ads{width:80%; margin:10%;}
ul.posts.a-posts li{width:100%;}

ul.store-list li{width:100%; height:200px;}
.store-list.a-store-list li{width:100%; height:200px;}


ul.store-list li .store-details{top:80%;}

ul.posts.fashion-post li{width:100%;}

.main-reatil-slider .carousel-inner > .item > a > img, .main-reatil-slider .carousel-inner > .item > img{min-height:150px;}
.inner-store-name h2{padding-top:40%;}
.inner-store-name{height:150px;}
.arrow-down{top:60px;}


.latest-news-post ul.posts li{width:100%;}
}

