
@font-face {
font-family: 'Avenir Next LT Pro Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Condensed'), url('../fonts/AvenirNext/AvenirNextLTPro-Cn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi'), url('../fonts/AvenirNext/AvenirNextLTPro-Demi.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi Condensed'), url('../fonts/AvenirNext/AvenirNextLTPro-DemiCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Heavy Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Heavy Condensed'), url('../fonts/AvenirNext/AvenirNextLTPro-HeavyCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Medium Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Medium Condensed'), url('../fonts/AvenirNext/AvenirNextLTPro-MediumCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Regular'), url('../fonts/AvenirNext/AvenirNextLTPro-Regular.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Ultra Light Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Ultra Light Condensed'), url('../fonts/AvenirNext/AvenirNextLTPro-UltLtCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Bold';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Bold'), url('../fonts/AvenirNext/AvenirNextLTPro-Bold.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Bold Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Bold Condensed'), url('../fonts/AvenirNext/AvenirNextLTPro-BoldCn.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Bold Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Bold Condensed Italic'), url('../fonts/AvenirNext/AvenirNextLTPro-BoldCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Condensed Italic'), url('../fonts/AvenirNext/AvenirNextLTPro-CnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi Condensed Italic'), url('../fonts/AvenirNext/AvenirNextLTPro-DemiCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Demi Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi Italic'), url('../fonts/AvenirNext/AvenirNextLTPro-DemiIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Heavy Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Heavy Condensed Italic'), url('../fonts/AvenirNext/AvenirNextLTPro-HeavyCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Italic'), url('../fonts/AvenirNext/AvenirNextLTPro-It.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Medium Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Medium Condensed Italic'), url('AvenirNextLTPro-MediumCnIt.woff') format('woff');
}


@font-face {
font-family: 'Avenir Next LT Pro Ultra Light Condensed Italic';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Ultra Light Condensed Italic'), url('../fonts/AvenirNext/AvenirNextLTPro-UltLtCnIt.woff') format('woff');
}


body{background:url(../images/bg.jpg) center top repeat; font-family: 'Avenir Next LT Pro Condensed';}
.nav_trigger {
	cursor: pointer;
	display: inline-block;
	font-size: 26px;
	margin: 5px 20px 0 50px;
  float:right;
  margin-top:25px;
  position: relative;
    text-align: right;
    width: 10%;
}
body.show_sidebar .nav_trigger {
	margin-right: 5px;
}
#push_sidebar {
	background: #31373d;
	border-left: 1px solid #ddd;
	bottom: 0;
	color: #95A7B7;
	left: 100%;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 25%;

	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}
body.show_sidebar #push_sidebar {
	left: 75%;
}
#wrapper {
	margin-right: 0;
	min-height: 1000px;
	overflow: hidden;
	width: 100%;
	
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
	
}
body.show_sidebar #wrapper {
	margin-right: 25%;
	margin-right: 25%;
	width: 75%;
}
p{font-size:16px;}


.header .container{position:relative; text-align:center;}
.logo{position:relative; left:0px; float:left; height:auto !important; padding-left:0px; width:10%; text-align:left;}
span.page-heading{ font-size:30px; color:#000; border-bottom:2px solid #000; text-align:center; display:inline-block; margin-top:30px; }
.navbar-collapse.collapse.sidebar-navbar-collapse.nav-space{border:none;}

/******content************/
.content{ position:relative; margin-top:101px; padding-bottom:00px; margin-bottom:40px; background:#fff; border-top:1px solid #e8e8e9; }
#carousel-example-captions{ background:#fff; border:1px solid #e8e8e9; border-top:none;  margin-top:0px; padding:0px; }
.carousel-inner{ border-bottom:1px solid #e8e8e9;}
.item{padding:10px;}
.carousel-indicators { left: 0;  margin:41px 0px 11px;  padding: 0; position: relative; text-align: center; width: 100%;}
.carousel-indicators li{border:none; background:#d1d2d4;}
.carousel-indicators .active{background:#000; border:none;}
.carousel-caption{top:20%; bottom:auto;  right:auto; width:auto; background:rgba(27, 29, 42, 0.8); left:10px; padding:30px;}
.carousel-caption h3{font-size:42px; color:#fff; text-align:center; margin:0px; padding:0px; text-transform:uppercase;}

.huge_it_slideshow_image_wrap_3{width:100% !important;}
.carousel-caption.a-carousel-caption{right:10px; left:auto;}

.row.content-text{margin:0px;}
.col-lg-8.left-side{padding:0px;}

ul.posts{width:100%; float:left; padding-left:0px;}
ul.posts li{width:50%; padding:10px; border:1px solid #e8e8e9; border-left:none; border-top:none; display:inline-block; float:left;}
ul.posts li .post-img{width:100%; float:left; position:relative; min-height: 281px; overflow-y:hidden; height:281px; }
ul.posts li .post-img img{position:relative; width:100%; float:left; height: auto;}
ul.posts li .post-img span{background:rgba(16, 27, 29, 0.8); font-size:14px; color:#fff; text-align:center; padding:5px 25px 5px 15px; line-height:none; position:absolute; left:0; bottom:15px; z-index:99; font-family: 'Avenir Next LT Pro Medium Condensed';}

ul.posts li .post-text{width:100%; float:left; padding:35px 20px 23.9px 20px;}
ul.posts li .post-text h3{font-size:30px; font-family: 'Avenir Next LT Pro Medium Condensed'; text-align:center; height:60px; overflow-y:hidden; margin-top:0px; margin-bottom:0px;}
ul.posts li .post-text h3 a{color:#000;}
ul.posts li .post-text h3 a:hover, ul.posts li .post-text h3 a:focus{color:#90a5d1; text-decoration:none;}
ul.posts li .post-text h3 span{font-size:14px; width:100%; float:left; color:#58595b; font-family: 'Avenir Next LT Pro Medium Condensed'; margin-top:5px; }
ul.posts li .post-text p{color:#58595b; font-size:15px; width:100%; float:left; line-height:normal; margin-top:5px; height:72.5px; margin-bottom:0px; overflow-y:hidden; }

.latest-news-post{margin:0px; padding:0px; border-top:none;}
.latest-news-post ul.posts li{width:33.33333%;}
ul.posts li:nth-child(3n){border-right:none;}


.col-lg-4.right-side{padding:0px; border-left:1px solid #e8e8e9;} 
.side-ads-section{padding:10px; width:100%; float:left; border-bottom:1px solid #e8e8e9;}
.melting-ads{background:#f7f5f4; text-align:center; }
.melting-ads h2{color:#1b1d2a; font-size:42px; margin:0px; padding:0px; margin-top:30px;}
.melting-ads h2  span{color:#ff0050;}
.melting-ads p{ font-size:15px; color:#1b1d2a; margin:0px; padding:0px; margin-top:5px;}
.melting-ads h3{color:#1b1d2a; font-size:35px; margin:0px; padding:0px;  margin-top:30px;}
.melting-ads h3  span{color:#ff0050; font-weight:400;}
.melting-ads img{width:100%;}

.side-ads-section li{margin-bottom: 10px;}


.mall-hours{width:100%; float:left; border:1px solid #e8e8e9; margin-top:10px;}
.mall-hours img{width:100%;}
.mall-hours-left{float:left;  width:50%; padding:20px;}
.mall-hours-left h4{font-size:15px; text-transform:uppercase; color:#000000; font-family: 'Avenir Next LT Pro Demi Condensed';}
.mall-hours-left p{width:100%; float:left;}
.mall-hours-left p b{width:100%; float:left; font-family: 'Avenir Next LT Pro Demi Condensed'; font-weight:bolder; font-size:15px;}
.mall-hours-right{float:right; width:50%;}
.mall-hours-right img{float:right;}


.free-dinner-ads{width:100%; float:left; margin-bottom:2px;}
.insta{width:100%; float:left;}
.insta ul{margin:0px; padding:0px; width:100%; float:left;}
.insta ul li{display:inline-block; margin-bottom: 2.7%; margin-right: 2.7%; width:31.5%; float:left;}
.insta ul li:nth-child(3n){margin-right:0px;}
.insta ul li img{width:100%;}
.insta h4{width:100%; float:left; text-align:center; margin:0px; padding:0px; color:#58595b;}


.connect{width:100%; float:left; background:#f7f5f4; text-align:center; padding:58px 0px;}
.connect h3{ font-size:32px; color:#000000; margin:0px; padding:0px;}
.connect ul{margin:0px; padding:0px; width:100%; float:left; }
.connect ul li{display:inline-block; margin:0px 10px;}
.connect ul li a{float:left; font-size:20px; color:#000;}




/***********side-navigation css***********/
.main-navbar {position: relative; background-color: #fff; color: white; z-index: 999;}
.main-navbar-fixed-top { position: fixed;  top: 0;  right: 0;   left: 0; }
.main-navbar-content { padding: 4px 16px;}
.main-content {position: relative; margin-top: 0px;background:#fff; padding-bottom:32px;}
.section { margin: 1em auto;  margin-bottom: 3em !important;}
.n-left {float: left;}
.n-right {float: right;}
.icon {position: relative; color:#000; text-align:right;}
.icon img {position: absolute; top: 4px; left: 4px;}
.main-sidebar { position: fixed; top: 0;  bottom: 0; color: white; width: 300px;}
.main-sidebar a:link {color: #fff;}
.main-sidebar a:visited {color: #fff;}
.main-sidebar a:hover {color: #fff;}
.main-sidebar a:active {color: #fff;}
.main-sidebar .section {margin: 1em 0; margin-bottom: 2em !important;}
.main-sidebar-right {right: 0; text-align: right; opacity:0; }
.main-sidebar-left {left: 0;  text-align: left;}
[data-ssbplugin="sbwrapper"] { padding: 1em;}
.dynamic-right .main-navbar-content {float: right;}
.dynamic-left .main-navbar-content {float: left;}
.main-sidebar-wrapper {position: relative;  height: 100%; overflow-y: auto; overflow-x: hidden; padding: 1em;}

.sidebar-nav{background:#000; position:absolute; height:100%; width: 270px; right: 0;}
.close-sb.close-btn-nav {
    left: 0;
    position: absolute;
    z-index: 99999;
	cursor:pointer;

}



ul#sidenav01{margin:0px; padding:0px;}
#sidenav01 > li {text-align: left;  width: 100%;}
.nav-bg{background:#040707; border:none; border-radius:0px;}
.nav-space{margin:0px; padding:0px;}
#sidenav01 > li a{background:#0e0e0e; border-bottom:1px solid #2b2c2c; color:#fff;}
.caret.pull-right{margin-top:10px;}
.navbar-collapse.collapse.sidebar-navbar-collapse.nav-space{padding:0px; margin:0px;}


/*******inner page******/
.inside-content{padding-top:20px;}
.navbar-default.news-header {background-color: #fff;  border-color: #fff;}
.row.content-text.news-content {padding-top: 50px;}
.news-left-section {padding: 0 15px 0 15px;}
.news-left-section h1 {color: #000;  font-size: 30px;  margin-bottom: 40px; margin-top: 0;}
.news-left-section h1 span {display: block; font-size: 18px;  line-height: 26px;	font-weight:bold;}
.news-left-section > p {color: #58595b;  font-weight: 300;}
.news-header span.page-heading {width: 180px;}
.col-lg-4.right-side.news-right{ border: 1px solid #e8e8e9;  padding: 0; width: 32.5%;}
.free-dinner-ads > img {width: 100%;}
.col-lg-4.right-side.news-right .insta ul li {display: inline-block; margin-bottom: 10px; margin-right: 4px; width: 32%;}
.col-lg-4.right-side.news-right .insta ul li img {width: 100%;}
.col-lg-4.right-side.news-right .insta ul li:nth-child(3n) {margin-right: 0;}

.main-reatil-slider{ border-bottom:1px solid #e8e8e9;}
.main-reatil-slider .carousel-inner { border-bottom: medium none;}
.main-reatil-slider #carousel-example-captions { background: #fff none repeat scroll 0 0;   border: medium none;}
.inner-store-name {background: #1b1d2a none repeat scroll 0 0;  height: 490px;  min-height: 100%;}
.inner-store-name h2 {color: #fff; margin-top: 0; padding-top: 62%; text-align: center; text-transform: uppercase;}
.arrow-down {border-left: 36px solid transparent;   border-right: 35px solid transparent;  border-top: 31px solid #1b1d2a;    height: 0;  left: -48px;  position: absolute;  top: 230px; transform: rotate(90deg); width: 0;}
.col-md-8.retail-slider {padding: 0;}
.col-md-8.retail-slider #carousel-example-captions{margin-top:0px; margin-bottom:0px;}
.col-md-4.store-name {padding: 0;}
.main-reatil-slider .carousel-inner > .item > a > img, .main-reatil-slider .carousel-inner > .item > img {line-height: 1;   min-height: 490px;}
.main-reatil-slider .item { padding: 0;}
.main-reatil-slider .carousel-indicators { margin: -21px 0 0 -47px; padding: 0; position: relative;  right: 0 !important;
    text-align: center; width: 100%; left: 48%;}
.store-header span.page-heading {width: 210px;}
.store-header{background: #fff;}
.inner-retail { display:inline-flex;  padding: 10px; width: 100%;}

/***********our Team Css*************/
.out-team{padding:10px 10px 22px 10px;}
.out-team p{font-size:16px;}
.out-team .row{margin-bottom:20px;} 
.out-team .row img{ min-height:385px; max-height:763px;}
.out-team .team-member-info{border:1px solid #cdcdcd; padding:0px 20px; min-height:386px;}

/***********fashion Css*************/
.fashion{padding:10px 50px;}
.latest-news-post ul.posts.fashion-post{border:none;}
.latest-news-post ul.posts.fashion-post li .post-text{ padding:10px;}
.latest-news-post ul.posts.fashion-post li .post-text h3{margin-bottom:0px; max-height:auto; min-height:50px; font-weight:normal; font-family: 'Avenir Next LT Pro Ultra Light Condensed'; font-size:31px; height:auto;}
.latest-news-post ul.posts.fashion-post li .post-text h3 span{font-family: 'Avenir Next LT Pro Medium Condensed';}
ul.posts.fashion-post li{border:none;}




/***********Our Retailers Css*************/
.row.content-text.search-section{padding-top:20px;}
.row.content-text.search-section button{border-left:none; border-radius:0px;}
.row.content-text.search-section input{border-radius:0px;}


i.glyphicon.glyphicon-search{color:#cbcbcb;}
ul.store-list{width:100%; float:left; margin:0px; padding:0px; margin-top:35px;}
ul.store-list li{display:inline-block; position:relative; height:272px; overflow-y:hidden; width:32.3333%; margin-bottom:2.5%; margin-right:1.5%; float:left;}
ul.store-list li:nth-child(3n){margin-right:0px;}
ul.store-list li img{width:100%;}
ul.store-list li .store-details{position:absolute; bottom:0px; top:77%; text-align:center; z-index:99; color:#fff; background:rgba(0, 0, 0, 0.8); padding:15px; height:100%;transition:1s; }
ul.store-list li .store-details h2{margin:0px; padding:0px; margin-bottom:15px; font-family: 'Avenir Next LT Pro Ultra Light Condensed';}
ul.store-list li .store-details h2 a{color:#fff;}
ul.store-list li .store-details h2 a:hover{color:#fff; text-decoration:none;}
ul.store-list li .store-details p{text-align:left; font-family: 'Avenir Next LT Pro Ultra Light Condensed'; font-size:18px; line-height:normal;}
ul.store-list li:hover .store-details{top:0px; transition:1s;}

ul.page-listing{width:100%; float:left; display:inline-block; text-align:center; margin:40px 0px 0px 0px; padding:0px;}
ul.page-listing li{display:inline-block; margin:0px; font-size:15px;}
ul.page-listing li::after{ content: ".";}
ul.page-listing li:last-child::after{content:""}
ul.page-listing li a{color:#000;}
ul.page-listing li a:hover{color:#4e9df5;}


/*************footer************/
.footer{background:#1b1d2a; color:#fff; padding:100px 0px 30px 0px;}
ul.site-map{width:100%; float:left; margin:0px; padding:0px;}
ul.site-map li{width:100%; float:left; display:inline-block;}
ul.site-map li a{color:#fff;}

ul.social-site{width:100%; float:left; margin:0px; padding:0px;}
ul.social-site li{float:left; display:inline-block; margin-right:18px;}
ul.social-site li a{color:#fff; font-size:18px;}

form.footer-form{margin-top:-8px; width:306px; max-width:100%;}
form.footer-form .form-group{margin-bottom:5px;}
form.footer-form input{background:#494a55; border:none; border-radius:0px; color:#fff;}
form.footer-form input:focus{box-shadow:none;}

.col-lg-4.col-sm-4.newletter{padding:0px 42px;}


form.footer-form .buton-form{width:100%; text-align:center; margin-top:10px; float:left;}
button.f-submit{border:1px solid #fff; border-radius:0px; font-size:14px; text-align:center; padding:2px 30px; background:none; color:#fff;}

.f-logo{text-align:center;}

ul.f-nav{width:100%; float:left; margin:0px; padding:0px; text-align:center; margin-top:30px;}
ul.f-nav li{ display:inline-block; padding:0px 10px; border-right:1px solid #fff; line-height:normal;}
ul.f-nav li:nth-child(4n){border-right:none;}
ul.f-nav li a{color:#fff;}
#sidenav01 a:hover, #sidenav01 a:focus{background:#4d4f4f; color:#fff;}

ul.nav.nav-list li a{padding-left:30px;}










/*************footer************/
.footer{background:#1b1d2a; color:#fff; padding:100px 0px 25px 0px;}
ul.site-map{width:100%; float:left; margin:0px; padding:0px;}
ul.site-map li{width:100%; float:left; display:inline-block;}
ul.site-map li a{color:#fff;}

ul.social-site{width:100%; float:left; margin:0px; padding:0px; margin-top:-10px;}
ul.social-site li{float:left; display:inline-block; margin-right:18px;}
ul.social-site li a{color:#fff; font-size:19px;}

form.footer-form .form-group{margin-bottom:5px;}
form.footer-form input{background:#494a55; border:none; border-radius:0px; color:#fff; height:40px;}
form.footer-form input:focus{box-shadow:none;}



form.footer-form .buton-form{width:100%; text-align:center; margin-top:15px; float:left;}
button.f-submit{border:1px solid #fff; border-radius:0px; font-size:14px; text-align:center; padding:3px 42px; background:none; color:#fff; line-height:normal; display:inline-block;}

.f-logo{text-align:center;}

ul.f-nav{width:100%; float:left; margin:0px; padding:0px; text-align:center; margin-top:25px;}
ul.f-nav li{ display:inline-block; padding:0px 10px; background:url(../images/footer-part-line.png) no-repeat right center; line-height:normal; font-size:12px; border-right:none;}
ul.f-nav li:last-child{background:none;}
ul.f-nav li:nth-child(4n){border-right:none;}
ul.f-nav li a{color:#fff; line-height:normal; float:left;}
#sidenav01 a:hover, #sidenav01 a:focus{background:#4d4f4f; color:#fff;}

ul.nav.nav-list li a{padding-left:30px;}

.nav.nav-list{margin:0px; padding:0px;}



/**************CSS FOR ARABIC body.arabic{direction:rtl;}
.navbar-brand.logo.a-logo{right:0px; left:auto; float:right !important;}
.a-nav_trigger{left:0px; float:left;}
.a-left-side{float:right;}
.a-right-side{float:left;}
span.unique{left:auto !important; right:0px;}
ul.posts.a-posts{ padding:0px;}
ul.posts.a-posts li{border:1px solid #e8e8e9; border-right:none; border-top:none; float:right;}
.a-footer-right{float:right;}
.a-footer-right ul.social-site li{float:right;}
ul.nav.navbar-nav.a-navbar-nav li a{text-align:right; direction:rtl;}
ul.nav.navbar-nav.a-navbar-nav li a span{float:left !important;}*************/








@media (max-width: 767px) {
	.nav_trigger {
		font-size: 19px;
		margin: 5px 5px 0 20px;
	}
	#push_sidebar {
		width: 80%;
	}
	body.show_sidebar #push_sidebar {
		left: 20%;
	}
	body.show_sidebar #wrapper {
		margin-right: 80%;
		width: 20%;
	}	
	.navbar-collapse.collapse.sidebar-navbar-collapse.nav-space {
    display: block;
    float: left;
    margin-top: -2px;
    padding: 15px;
    width: 100%;
}
}

@media (min-width: 992px) {
	#push_sidebar {
		width: 20%;
	}
	body.show_sidebar #push_sidebar {
		left: 80%;
	}
	body.show_sidebar #wrapper {
		margin-right: 20%;
		width: 80%;
	}	
	
}

/***********************************/
.fa.fa-times {
    position: relative;
    right: 110px !important;
}
#push_sidebar{z-index:9999;}
#push_sidebar li a {
	padding: 10px 15px 10px 5px;
	display: block;
	font: 13px Tahoma, Arial, serif;
	background: #31373d;
	color: #95A7B7;
	text-decoration: none;
	border-bottom: 1px solid #3D454C;
}
#push_sidebar li a:hover {
	background-color: #272c30;
	color:#95a7b7
}
#push_sidebar li a .fa {
	font-size: 19px;
	float: right;
	width: 30px;
	text-align: center;
	margin-left: 5px;
}




/************Issue css**********/
.main-navbar-content{padding-left:0px; padding-right:0px;}
.nav_trigger.icon.right{margin-right:0px; margin-left:0px;}
.footer h4{font-size:16px; margin-bottom:20px;}
.form-control::-webkit-input-placeholder {color: #ebc269;}
.form-control:-moz-placeholder { /* Firefox 18- */ color: #ebc269; }
.form-control::-moz-placeholder {  /* Firefox 19+ */ color: #ebc269; }
.form-control:-ms-input-placeholder { color: #ebc269;}
.f-logo{margin-top:45px;}
.img-team{padding-left:0px;}
.out-team .team-member-info.chairman-info{min-height:763px;}
.out-team h1{font-size:36px; font-weight:400; margin-top:20px; margin-bottom:40px;}
.out-team h2{font-size:24px; font-weight:600; margin-top:20px; margin-bottom:40px;}
.out-team p{line-height:21.5px;}

.search-section .form-control::-webkit-input-placeholder {color: #bdbdbd !important;}
.search-section .form-control:-moz-placeholder { /* Firefox 18- */ color: #bdbdbd !important; }
.search-section .form-control::-moz-placeholder {  /* Firefox 19+ */ color: #bdbdbd !important; }
.search-section .form-control:-ms-input-placeholder { color: #bdbdbd !important;}
.links{padding-left:42px;}


.content-text {padding: 0;}
.right-text-side{padding:0px;}
.right-text-side img, .content-text img{width:100%;}

.col-lg-6.right-text-side.pull-left{padding-right:15px;}
.col-lg-6.pull-right.img-team{padding-right:0px;}


.search-col{padding:0px;}
.feature-list{padding:0px;}

.row.content-text.news-content h1{margin-bottom:30px;}






@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* Safari and Chrome */
.connect {
 padding:58.6px 0px;
}

ul.posts li .post-text p{height:72.3px;}

}





@media screen and (-webkit-min-device-pixel-ratio:0) { 
/* Safari and Chrome */
ul.a-posts li .post-text p{height:70.5px;}
.a-right-side .connect{padding:57.5px 0px;}
.a-right-side .free-dinner-ads{margin-bottom:2px;}
}



/*******************************mobile, Tablet, English Style Css**********************************/
@media (max-width: 1199px) {
ul.posts li .post-img{height:22px; min-height:229px;}
form.footer-form input{height:auto; padding:10px 10px 8px 10px; line-height:normal;}
button.f-submit{padding:2px 42px 3px 42px;}
#carousel-example-captions{border-left:none; border-right:none;}
}


@media (max-width: 1024px) {
#carousel-example-captions{margin-top:0px;}
.container.main-navbar-content{padding:0px 0px;}
ul.posts li{border-left:1px solid #e8e8e9 ; border-right:none;}
.carousel-indicators{margin:41px 0 0;}
ul.posts li .post-img{height:230px; min-height:auto;}
.melting-ads img{width:100%;}
.mall-hours img{width:100%;}
.nav_trigger{font-size:30px;}
.insta ul li{margin-bottom: 2.7%; margin-right: 2.7%;}
.col-lg-4.col-sm-4.newletter{padding-right:15px;}
ul.posts li .post-text{padding:24px 20px 13.9px;}
ul.posts li .post-text h3{font-size:24px;}
}

@media (max-width: 980px) {
.insta ul li{width:29.8%;}
.insta ul li img{width:100%;}
.mall-hours-left{width:70%; padding:10px;}
.mall-hours-right{width:30px;}
.navbar-collapse.collapse.sidebar-navbar-collapse.nav-space{padding:0px; margin:0px;}
ul.store-list li{height:169px;}
ul.store-list li .store-details{padding:10px; top:74%;}
ul.store-list li .store-details p{line-height:normal; overflow-y:hidden;}
ul.store-list li .store-details h2{font-size:22px;}
.out-team img{width:100% !important;}
.main-reatil-slider .carousel-inner > .item > a > img, .main-reatil-slider .carousel-inner > .item > img{min-height:340px;}
.inner-store-name h2{padding-top:50%;}
.inner-store-name{height:340px;}
.arrow-down{top:130px;}
ul.posts li .post-img{height:160px;}
ul.posts li .post-text{padding:12px 20px 13.9px;}
ul.posts li .post-text h3{font-size:20px;}
.footer{padding: 50px 0 25px;}
.content{margin-top:93px;}
.links{padding-left:15px;}
.newletter{padding-right:15px;}

}
@media (max-width: 768px) {
.container.main-navbar-content{padding:0px 15px;}

}

@media (max-width: 767px) {
.nav_trigger{top:15px;}
.melting-ads{width:39%; float:left;}
.mall-hours{width:58%; float:right; margin-top:0px;}
.side-ads-section{text-align:center;}
.free-dinner-ads {float: left;  margin: 0 20%;  width: 60%;}
.free-dinner-ads{text-align:center;}
.insta ul li{width:15.1%;}

.insta ul li img{width:100%;}
.col-lg-4.right-side.news-right .insta ul li{width:15.1%;}
.footer{text-align:center; padding-top:20px;}
.links, .find, .social-connect, .newletter{float:none; text-align:center;  display:inline-block; width:100%; margin-bottom:20px;}
ul.social-site li{float:none;}
ul.posts li .post-img{height:160px;}

.col-lg-4.right-side.news-right{width:inherit;}

}


@media (max-width: 640px) {
span.page-heading{position:relative; left:-5.5%;}
.links, .find, .social-connect, .newletter{padding:0px;}
.insta ul li {width: 14.8%;}
.nav_trigger{top:20px;}
ul.posts li .post-img{min-height:180px;}
.mall-hours-left{width:50%;}
.mall-hours-right{width:30%;}
ul.social-site{text-align:center;}
ul.social-site li{float:none; display:inline-block; margin-right:6px; margin-left:10px;}
.find, .social-connect, .newletter{margin-top:20px; margin-bottom:0px; float:left; width:100%;}
.links{ margin-bottom:0px;}
.footer h4{margin-bottom:5px;}
form.footer-form{margin-top:0px;}
.f-logo{float:left; width:100%;  margin:0px; margin-top:40px;}
.carousel-indicators{margin:20px 0 0;}
.footer{text-align:center; padding-top:20px;}
ul.posts.fashion-post li{width:50%;}
ul.store-list li{width:48%; margin:1%; padding:0px; height:200px;}
ul.store-list li:nth-child(3n){ margin:1%;}
ul.store-list li .store-details{top:80%;}
.main-reatil-slider .carousel-inner > .item > a > img, .main-reatil-slider .carousel-inner > .item > img{min-height:237px;}
.inner-store-name h2{padding-top:40%;}
.inner-store-name{height:237px;}
.arrow-down{top:70px;}
.latest-news-post ul.posts li{width:50%; border-left:none; border-right:1px solid #e8e8e9;}
form.footer-form{text-align: center; display:inline-block;  float:none;}
ul.posts li .post-text h3{font-size:22px;}
ul.posts li .post-text{padding:15px 20px 10px 20px }

.col-lg-4.right-side.news-right{width:inherit;}
.carousel-caption{padding:15px;}
.carousel-caption h3{font-size:22px;}
.carousel-caption p{font-size:12px; margin-bottom:0px;}
ul.posts li .post-text p{height:82.5px;}
ul.posts{margin-bottom:0px;}
ul.social-site li {margin-left: 6px; margin-right: 5px;}
span.page-heading{font-size:22px; margin-top:17px; left:0%;}
.navbar-brand.logo img{width:50px;}
.nav_trigger{top:10px;}
.content{ margin-top: 69px;}
}


@media (max-width: 480px) {
.container.main-navbar-content{padding:10px 15px;}
.nav_trigger{top:0px;}
span.page-heading{display:none;}
.navbar-brand.logo{width:70px; margin:0px; padding:0px;} 
.navbar-brand.logo img{width:100%;}
.container.content{margin-top:75px;}
.carousel-caption h3{font-size:18px;}
.carousel-caption{margin-bottom:0px; padding:10px;}
.nav_trigger{margin-left:0px;}
.insta ul li{width:23%; margin:1%;}
ul.posts li .post-text h3{font-size:20px;}
ul.store-list li{height:153px;}
ul.store-list li .store-details{top:74%;}
.main-reatil-slider .carousel-inner > .item > a > img, .main-reatil-slider .carousel-inner > .item > img{min-height:190px;}
.inner-store-name h2{padding-top:40%;}
.inner-store-name{height:190px;}
.arrow-down{top:70px;}
ul.posts li .post-img{height:160px;}

}

@media (max-width: 420px) {
ul.posts li{width:100%;}
.free-dinner-ads{width:100%; margin:0%;}
form.footer-form input{vertical-align: middle; display:inline-block;}
button.f-submit{padding:8px 42px 3px 42px;}
.insta h4{margin-top:11px;}
ul.posts li .post-img{min-height:130px; height:auto;}
ul.posts li{width:100%;}
.latest-news-post ul.posts li{width:100%;}

.sidebar-nav{width:250px;}
.melting-ads{width:100%;}
.mall-hours{width:100%; margin-top}


}


@media (max-width: 360px) {
ul.posts li{width:100%;}
.free-dinner-ads img{width:100%;}
.melting-ads{width:100%;}
.mall-hours{width:100%; margin-top:10px;}
ul.store-list li{width:100%; height:200px;}
ul.store-list li .store-details{top:80%;}
ul.posts.fashion-post li{width:100%;}
.main-reatil-slider .carousel-inner > .item > a > img, .main-reatil-slider .carousel-inner > .item > img{min-height:150px;}
.inner-store-name h2{padding-top:40%;}
.inner-store-name{height:150px;}
.arrow-down{top:60px;}
.latest-news-post ul.posts li{width:100%;}
.col-lg-4.col-sm-4.newletter{padding:15px;}
ul.social-site li {margin-left: 6px; margin-right: 5px;}
.sidebar-nav{width:250px;}
}

@media (max-width: 320px) {
.sidebar-nav{width:210px;}

}



